

.mybtn{
    height:50px;
    width:100%;
    background:transparent;
    color:white;
    border:none;
  }

  .mybtn:hover{
    height:50px;
    width:100%;
    background:black;
    color:white;
    border:none;
  }
  .showoff{
    /* box-shadow:0px 0px 3px silver; */

     }
  .showoff:hover{
    box-shadow:0px 0px 3px silver;
  }

  .symbol{
    color:white;
    font-size:14px;
    display:inline;
  }

  .symbol:hover{
    color:blue;
    font-size:14px;
    
  }

  .s1{
    color:white;
    font-size:14px;
    display:inline;
  }
  .s1:hover{
    color:lightblue;
    font-size:14px;
    display:inline;
  }

  .s2{
    color:white;
    font-size:14px;
    display:inline;
  }
  .s2:hover{
    color:rgb(209, 125, 30);
    font-size:14px;
    display:inline;
  }

  .s3{
    color:white;
    font-size:14px;
    display:inline;
  }
  .s3:hover{
    color:rgb(233, 171, 104);
    font-size:14px;
    display:inline;
  }

  .s4{
    color:white;
    font-size:14px;
    display:inline;
  }
  .s4:hover{
    color:rgb(227, 20, 41);
    font-size:14px;
    display:inline;
  }

  .s5{
    color:white;
    font-size:14px;
    display:inline;
  }
  .s5:hover{
    color:rgb(231, 106, 106);
    font-size:14px;
    display:inline;
  }


  .t{
    color:#6d6d6d;
    font-size:12px;
    margin-left:100px
  }

  
  .t:hover{
    color:#ec3414;
    font-size:12px;
    margin-left:100px
  }

  